/* Haalt die scrollbar weg */
* { /* Firefox */
    scrollbar-width: none;
}
::-webkit-scrollbar { /* Chrome */
    display: none;
}

body {
    margin: unset;
    height: 100vh;
    width: 100vw;
}

header {
    background: linear-gradient(0deg, rgba(70,69,92,1) 0%, rgba(9,9,121,1) 100%);

}

header > h1 {
    color: #fff;
    text-align: center;
}

main {
    width: 100%;
    overflow: auto;
}

footer,
#menu{
    background-color: #46455c;
    color: #fff;
}

footer > p,
main > h2:first-child {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #a8a8a8;
}

.maincont {
    height: 100%;
}

.flex-verti {
    display: flex;
    flex-direction: column;
}

.flex-horizon {
    display: flex;
    flex-direction: row;
}

#menu {
    padding-left: 5px;
    padding-right: 10px;

    height: 100%;
    width: 15%;
}

#menu > ul,
#menu > ul > li > ul{
    list-style: none;
}
