/* Haalt die scrollbar weg */
* { /* Firefox */
    scrollbar-width: none;
}
::-webkit-scrollbar { /* Chrome */
    display: none;
}

body {
    margin: unset;
    height: 100vh;
    width: 100vw;
}

header {
    background: linear-gradient(180deg, rgba(65,65,65,1) 0%, rgba(0,0,0,1) 100%);

}

header > h1 {
    color: #fff;
    text-align: center;
}

main {
    width: 100%;
    overflow: auto;
}

main > section {
    margin: 10px;
}

footer,
#menu {
    color: #fff;
}

footer {
    background: #2d38fd;
}

footer > p,
main > h2:first-child {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

ul{
    list-style: none;
}

td {
    width: 250px;
    vertical-align: top;
    height: 30px;
}

label {
    font-weight: bold;
}

.long {
    width: 300px;
    padding: unset;
}

.select {
    width: 302px !important;
}

.maincont {
    height: 100%;
}

.flex-verti {
    display: flex;
    flex-direction: column;
}

.flex-horizon {
    display: flex;
    flex-direction: row;
}

#menu {
    padding-left: 5px;
    padding-right: 10px;

    height: 100%;
    width: 15%;
}

#menu{
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(45,56,253,1) 100%);
}

#rivm,
#rivm:visited {
    color: blue;
    text-decoration: underline;
}

#first  + label,
#second + label {
    font-weight: normal;
}